img{
    width: 100%;
}

h1{
    font-family: Arial;
    margin-top: 100px;
    margin-left:450px;
}

h5 {
    color: darkgray;
    font-family: Arial, cursive;
    margin-left:450px;
}

p{
    font-family: Arial;
    font-size: 20px;
    margin-top: 100px;
    margin-left:450px;
    margin-right:450px;
    margin-bottom: 200px;
}

li{
    list-style: none;
    font-family: Arial, cursive;
    padding-left: 400px;
}

footer{
    background: black;
    color: aliceblue;
}

a{
    color:lightblue;
}

a.si:hover{
    position: relative;
    left: 50px;
    color: white;
   
}

a.no:hover{
    position: relative;
    left: 50px;
    color: white;
}

div.menu{
    position: sticky;
    font-family: Arial;
    font-size: 20px;
    margin-right:450px;
    margin-left: 450px;
    background-color: black;
    top: 0px;
    border: 3px;
}

.container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .6s;
  background-color: skyblue;
}

.container:hover .overlay {
  opacity: 3;
}

.text {
  font-family: ARIAL;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

